discord.py==1.5.1
discord-pretty-help==1.2.0
chatterbot
chatterbot_corpus
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz#egg=en_core_web_md==2.0.0
